body{
    margin: 0;
    width:100%;
    height: 100vh;
    min-width:1000px;
    height:auto;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

h3{
    display: flex;
    flex-shrink: 0;
    padding: 0px;
    margin: 40px;
    margin-left: 400px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 16px;
    margin-right: 400px;
    flex-shrink: 0;
    margin-top: 25px;
}
/* this is the end of the heading css */

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1f2937;
    align-items: flex-start;
    height: 300px;
}

h1{
    display: flex;
    margin-bottom: -10px;
    margin-left: 400px;
    color: white;
    width: 300px;
    margin-top: 40px;
    font-size: 40px;
}

p{
    margin-left: 400px;
    width: 300px;
    color: white;
}

button{
    background-color: #3882f6;
    color: white;
    width: 100px;
    border-radius: 5px;
    border-color: #3882f6;
    margin-left: 400px;
    height: 35px;
}

img{
    display: flex;
    align-items: center;
    width: 430px;
    min-width: 370px;
    margin-top: 40px;
    height: 180px;
    background-color: white;
}

/* this is the end of the second part css */

h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.characters{
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
}


.favorites{
    display: flex;
    justify-content: space-evenly;
}
h5{
    color: grey;
    width: 100px;
}
/* im gonna skip the images and come back to this when I get back on my pc */

.quote{
    display: flex;
    flex: 1;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    height: 300px;
}

h4{
    width: 600px;
    font-size: 26px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

h6{
    font-size: 26px;
    margin-top: -80px;
    background-color: #e5e7eb;
    margin-left: 795px;
    font-style: italic;
    display: flex;
}

/* this is the end of the rengoku quote */

.action{
    display: flex;
background-color: #3882f6;
}

