body{
    margin: 0;
    width:100%;
    min-width:1000px;
    height:auto;
}

/* .div */
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

h3{
    display: flex;
    flex: 1;
    padding: 0px;
    margin: 40px;
    margin-left: 80px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    display: flex;
    flex: 1;
    list-style: none;
    align-items: center;
    gap: 16px;
    margin-right: 200px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 250px;
}

h1{
    display: flex;
    margin-bottom: -10px;
    margin-left: 80px;
    color: white;
    width: 200px;
}

p{
    margin-left: 80px;
    width: 300px;
    color: white;
}

button{
    background-color: #3882f6;
    color: white;
    width: 100px;
    border-radius: 5px;
    border-color: #3882f6;
    margin-left: 80px;
}

img{
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    width: 370px;
    height: 180px;
    margin-left: 460px;
    margin-top: -180px;
}